USE CKM_ManagementSystem;
GO

CREATE OR ALTER PROCEDURE sp_GetRoleList
    @SearchKeyword NVARCHAR(100) = NULL,
    @Status INT = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @TotalRecords INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Total Count
    SELECT @TotalRecords = COUNT(1)
    FROM UserRoles
    WHERE 
        (@SearchKeyword IS NULL OR @SearchKeyword = '' 
            OR Role_Code LIKE '%' + @SearchKeyword + '%' 
            OR Role_Name LIKE '%' + @SearchKeyword + '%')
        AND (@Status IS NULL OR Status = @Status);

    -- Paged Data
    SELECT 
        Role_Code AS RoleCode,
        Role_Name AS DisplayName,
        Description,
        Status
    FROM UserRoles
    WHERE 
        (@SearchKeyword IS NULL OR @SearchKeyword = '' 
            OR Role_Code LIKE '%' + @SearchKeyword + '%' 
            OR Role_Name LIKE '%' + @SearchKeyword + '%')
        AND (@Status IS NULL OR Status = @Status)
    ORDER BY Created_Date DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO