body {
    background: #284A9F;
    font-family: 'Inter', 'Noto Sans JP', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
.card {
    border-radius: 15px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2) !important;
}
.card-body {
    padding-bottom: 2.5rem !important;
}
.card-header h2 {
    color: #2c3e50;
    font-size: 32px !important;
    font-weight: bold !important;
}

.form-label {
    color: #555555 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.form-control, .form-select {
    border-color: #dcdcdc;
    padding: 0.55rem 0.75rem;
    font-size: 14px;
    border-radius: 6px;
    height: 40px;
}

.form-control:focus, .form-select:focus {
    border-color: #2a5298;
    box-shadow: 0 0 0 0.25rem rgba(42, 82, 152, 0.15);
    font-size: 14px;
}

.form-select:disabled {
    background-color: #e9ecef;
    opacity: 0.8;
}

.btn-success{
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
}
.btn-clear {
    background-color: #5a6268;
    color: #ffffff;
    border: none;
    padding: 0.6rem;
    border-radius: 6px;
}

.btn-clear:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.modal-dialog {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 100vh !important;
    margin: 0 auto !important;
    font-size: 14px !important;
}
.menu-center {
    padding: 70px;
}

.form-select {
    width: 50% !important;
    max-width: 50% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#ParentMenu {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
}

    #ParentMenu option {
        max-width: 100%;
        font-size: 14px;
    }

.select-dropdown-wrapper{
    width: 100%;
    max-width: 100%;
    overflow:hidden;
}
