body.project-entry-bg {
    background-image:url('../images/system_img/background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.folder-icon-box {
    width: 54px;
    height: 54px;
}

.form-help-text {
    font-size: 11px;
}
